
.App {
  text-align: center;
  margin-top: 4rem;
  text-align: -webkit-center;
}

.App-header {
  text-align: center;
  text-justify: auto ;
  background-color:  #45ADA8;
  height: 4rem;
  margin-top: -7rem;
  justify-content: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  color: white;
}

.header {
  margin-top: 1rem;
}

.header-text {
  margin-top: .5rem;
}

.input {
  margin-top: 1rem;
  margin-left: 1rem;
}

.box {
  height:2.5rem;
  width: 9rem;
  background-color: rgb(228, 228, 228);
}

.image {
  background-image: url(./images/backspace.png);
  background-position-x: 1rem;
  background-position-y: 0.5rem;
  background-size: 2rem 1.5rem;
  background-repeat: no-repeat;
}

.container{
  display: flex;
}

.container Button {
  margin-top: 1rem;
  margin-left: 1rem;  
}

.card {
  margin-top: 7rem; 
  width: 23rem;
}

.card-color {
  background-color:#45ADA8;
}

.alert{
  width: 15rem;
  padding: 3rem;
}